body > .container{
    margin-top: 205px;
    margin-bottom: 30px;
    height: 750px;
    font-size: 17px;
    box-sizing: border-box;
}

.container .container-projeto{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.container .container-projeto .infos-principais{
    margin: auto;
    width: 400px;
    text-align: center;
}

.container .container-projeto .infos-principais h2{
    padding: 0;
    margin: 0;
    color: #333333;
}

.container .container-projeto .infos-principais p{
    font-size: 15px;
    font-weight: bold;
    color: #797979;
    display: inline-block;
    padding-left: 4px;
    margin:0;
}

.container .container-projeto .infos-principais #localizacao:before{
    content: '';
    display: inline-block;
    background-image: url("../img/pin_branco.png");
    height: 15px;
    width: 10px;
    margin-left: 2.5px;
    margin-right: 12.5px;
    background-size: 100% 100%;
}

.container .container-projeto .infos-principais #categoria:before{
    content: '';
    display: inline-block;
    background-image: url("../img/tag.png");
    height: 15px;
    width: 10px;
    margin-left: 2.5px;
    margin-right: 12.5px;
    background-size: 100% 100%;
}

.container .container-projeto .img{
    width: 200px;
    height: 200px;
    margin: auto;
}

.container .container-projeto .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container #container-infos{
    /* height: 600px; */
    background-color: #F2F2F2;
    border-radius: 15px;
    z-index: -1;
    padding: 185px 30px 30px 30px; 
    box-sizing: border-box;
}
#container-infos ul{
    margin: 0;
    padding: 0;
}

#container-infos ul li{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    font-weight: bolder;
}

#container-infos ul li:before{
    content: '';
    padding: 0;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-image: url("../img/hexagono_rosa.png");
    background-size: 100% 100%;
}

#container #container-infos .img1{
    display: inline-block;
    width: 590px;
    height: 390px;
}

.container #container-infos .img1 img{
    width: 100%;
    height: 390px;
}

.container #container-infos .infos{
    padding: 0;
    box-sizing: border-box;
}

.funcionalidade{
    margin-top: 50px;
    text-align: center;
}

#doar{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #56DE3F;
    color: #fff;
    border: none;
}

#voluntariar{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #FF218A;
    color: #fff;
    border: none;
}

#doar:hover, #voluntariar:hover{
    font-weight: bolder;
}

.botao-ver{
    margin-top: 20px;
}

.menu{
    min-height: 500px;
    position: relative;
    height: auto;
    padding-bottom: 30px;
    margin: auto;
}

.menu .item{
    display: block;
    float: left;
}

.menu .item a{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    padding: 10px 6px;
    display: block;
    border-bottom: 3px solid #F2F2F2;
}

.menu .item .item-container{
    position: absolute;
    display: none;
    padding: 10px 0;
    font-size: 17px;
}

.menu .item.active .item-container{
    display: block;
}

.menu .item.active a{
    border-bottom: 3px solid #FF9900;
}

.menu .item a:hover{
    border-bottom: 3px solid #FF9900;
}